* {
    margin: 0;
    padding: 0;
}
@media (max-width:280px) {
  .textbox {
    max-width: 200px;
  }
} 
@media (max-width: 600px) {
  
}
.body {
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 400 , 700;
}
/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} */

#img {
    max-width: 100%;
    height: auto;
}
/* Container holding the image and the text */
.container {
    position: relative;
    color: white;
  }
  
/* Centered text */
.centered {
    position: absolute;
    top: 28%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

.icon {
    position: absolute;
    top: 28%;
    right: 30%;
    transform: translate(-28%, -30%);
}

.textbox {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50% ,-40%);
  margin: 0 auto;
  padding: 50px 30px; 
  grid-column: 3;
  grid-row: 3;
  /* border: 6px solid red; */
  
}
.textbox .text {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 250%;
  background-color: #ddd;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}

.list {
  background-color: #fff;
  width: 36.8%;
  position: absolute;
  top: 35%;
  left: 45.5%;
  transform: translate(-35% ,-45.5%);
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px #aaa;;
}

.one {
 margin-left: 1rem;
 padding-top: 0.6rem;
 padding-bottom: 0.6rem;
}

.lable {
  color: #333;
  font: 15px/1 'Open Sans', sans-serif;
  padding-top: 0.2125rem;
  padding-bottom: 0.2125rem;
  /* text-decoration: line-through; */

}

.status {
  margin-left: 80px;
}
.navbar-brands {
  text-decoration: none;
  display: inline;
  padding-top: 0.1125rem;
  padding-bottom: 0.1125rem;
  margin-right: 1rem;
  font-size: 0.75rem;
  white-space: nowrap;
}

.navbar-bran {
  text-decoration: none;
  position: absolute;
  right: 3.5%;
  font-size: 0.75rem;
}

.item {
  justify-content: space-between;
  display: inline;
  line-height: inherit;
  white-space: nowrap;
  padding-top: 0.1125rem;
  padding-bottom: 0.1125rem;
  margin-right: 1rem;
  font-size: 0.75rem;
}
.item #number {
  position: absolute;
  left: 6px;
}
#checkbox {
  background-color: hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
}

.remove {
  position: absolute;
  right: 2%;
  display: none;
  cursor: pointer;
}

.lable:hover + .remove {
  display: inline;
  color: red;
}

.list {
  border: 2px solid #dddddd;
}





/* nav bar bottom */
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border-color: aqua;
  border-width: 2px;
}

.navbar-light {
  color: rgba(0, 0, 0, 0.9);
}

.bg-light {
  /* background-color: #f8f9fa !important; */
  background-color: #fff !important;
}

.fixed-bottom {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.navbar .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
